<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathan.Paylockbackroom">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>"

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.jonathan.Paylockbackroom.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jonathan.Paylockbackroom.ManagerUI"
            android:label="@string/app_name">
            >
        </activity>
        <activity
            android:name="com.example.jonathan.Paylockbackroom.StaffUI"
            android:label="@string/app_name">
            >
        </activity>
        <activity
            android:name="com.example.jonathan.Paylockbackroom.Checkprod"
            android:label="@string/app_name" />
        <activity android:name="com.example.jonathan.Paylockbackroom.Emptyracks" />
        <activity android:name="com.example.jonathan.Paylockbackroom.Incomingboots" />
        <activity android:name="com.example.jonathan.Paylockbackroom.Checksched" />
        <activity android:name="com.example.jonathan.Paylockbackroom.Logbootsin" />
        <activity android:name="com.example.jonathan.Paylockbackroom.Fixedboots" />
        <activity
            android:name="com.example.jonathan.Paylockbackroom.Managerlogin"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="com.example.jonathan.Paylockbackroom.Stafflogin"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name="com.example.jonathan.Paylockbackroom.Checkpprod" />
        <activity android:name="com.example.jonathan.Paylockbackroom.RegisterActivity">

        </activity>
    </application>

</manifest>